<h1>Carlos Navarrete Merino</h1>

<p>current computer programming Student in gerogian college who loves programing and
    tecnology, developer on the following languages C#, ASP.net, PHP, JavaScript, SQL, 
    WordPress, MongoDB, Express.js, React and also willing to learn and improve.
</p>